@import '../../styles/variables.scss';

.links__list{
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 30px;
}

.links__listItem{
    position: relative;
    font-size: 30px;
    color: white;
    z-index: 110;
}

.overlayHidden{
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.overlayOpened{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.overlay__menu{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 10vh;

    &Item{
        padding-top: 3rem;
        font-size: 25px;
        color: $dimmed-color;
    }
}