@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

.title{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 5vh;
}

.projects{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: $section-margin;
    grid-column-gap: 20px;
}

.projectItem{
    width: 80vw;
    min-height: 40vh;
    border: 2px solid $base-color;
    margin: 0 auto;

    @include xl{
        width: 20vw;
    }
}

.projectPhoto{
    width: 100%;
    font-size: 60px;
    text-align: center;

    img{
        width: 100%;
    }
}

.projectContent{
    width: calc(100% - 40px);
    text-align: justify;
    padding: 0 20px;
}

.projectMore{
    width: 60vw;
        padding: 1.5vh 0;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        background: $base-color;
        display: block;
        margin: 0 auto; 
        margin-bottom: 1rem;
        font-size: 16px;
    
    @include xl{
        width: 10vw;
    }
}