@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

.skills{
    
    width: 80vw;
    margin: 0 auto;

    &__title{
        margin-top: $section-margin;
        margin-bottom: 5vh;
        text-align: center;
    }

    &__grid{
        display: grid;
        width: 100%;
        height: 40vh;
        grid-template-columns: auto;

        @include xl{
            grid-template-columns: auto auto auto;
        }
    }

    &__gridItem:nth-child(2){
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;

        @include xl{
            border-left: 2px solid grey;
            border-right: 2px solid grey;
        }
       
    }

    &__gridItemTitle{
        text-align: center;
    }
}