@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

.skills{
    
    width: 80vw;
    min-height: 80vh;
    margin: 0 auto;
    color: white;

    @include xl{
        min-height: 0;
    }

    &__title{
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: $section-margin;
        
        p{
            margin-bottom: 0;
        }
    
        @include xl{
            grid-column-start: 1;
            grid-column-end: 4;
            margin-bottom: 5vh;
        }
    }

    &__grid{
        display: grid;
        width: 100%;
        height: 40vh;
        grid-template-columns: auto;

        @include xl{
            grid-template-columns: 33.3% 33.3% 33.3%;
        }
    }

    &__gridItem{
        margin-top: 5vh;

        @include xl{
            margin-top: 0;
        }
    }

    &__gridItem:nth-child(2){
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding-top: 5vh;
        padding-bottom: 5vh;

        @include xl{
            border-left: 2px solid grey;
            border-right: 2px solid grey;
            border-top: none;
            border-bottom: none;
            padding-top: 0;
            padding-bottom: 0;
        }
       
    }

    &__gridItemTitle{
        text-align: center;
    }

    &__gridItemText{
        text-align: left;
        font-weight: bolder;
        padding-left: 15px;
    }

    &__gridItemTextSection{
        font-weight: normal;
    }
}