@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.modal__header{
    border-bottom: 1px solid grey !important;
}

.modal__title{
    color: $base-color;
}

.modal__button{
    background: $base-color !important;
}

.modal__footer{
    border-top: 1px solid grey !important;
}

.more__item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

.more__content{
    width: 50%;
}

.more__itemIcon{
    width: 50%;
    text-align: center;
    font-size: 8vh;
}