@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

.about{
    width: 80vw;
    margin: 0 auto;
    margin-top: $section-margin;

    @include xl{
        width: 25vw;
    }

    &__photo{
        width: 20vw;
        height: 20vw;
        border: 2px solid $base-color;
        border-radius: 50%;
        margin: 0 auto;

        @include xl{
            width: 4vw;
            height: 4vw;
        }
    }

    &__title{
        text-align: center;
    }

    &__more{
        width: 60vw;
        padding: 1.5vh 0;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        background: $base-color;
        display: block;
        margin: 0 auto;

        @include xl{
            width: 10vw;
        }
    }
}