@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

.contact{
    margin: 0 auto;
    margin-top: $section-margin;
    width: 80vw;
    color: white;

    @include xl{
        width: 30vw;
    }
}