@import '../../styles/variables.scss';

.navbar{
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin:  3vh 4vw;
}

.links__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 3vw;
    padding-top: 3vh;

    &Item{
        display: inline-block;

        a{
            color: $dimmed-color;
            padding-right: 3vw;
            text-decoration: none;
        }
    }
}

.logo{
   height: 8vh;
}